Repository JulienB-Epfl/Coronhackathon, pull requests merged in 2020-04, with the labels that each got.

#59 Complete the friendship system
  back/h2-DB.mv.db
  back/src/main/java/coronhackathon/backend/controller/FriendsController.java
  back/src/main/java/coronhackathon/backend/entity/Friends.java
  back/src/main/java/coronhackathon/backend/entity/FriendsId.java
  back/src/main/java/coronhackathon/backend/repository/CompletedRepository.java
  back/src/main/java/coronhackathon/backend/repository/FriendsRepository.java
  back/src/main/java/coronhackathon/backend/repository/TagOfChallengeRepository.java
  back/src/main/java/coronhackathon/backend/service/CompletedService.java
  back/src/main/java/coronhackathon/backend/service/FriendsService.java
Labels: backend

#52 Challenges with boolean validated
  back/src/main/java/coronhackathon/backend/controller/ChallengeController.java
  back/src/main/java/coronhackathon/backend/repository/CompletedRepository.java
  back/src/main/java/coronhackathon/backend/repository/TagOfChallengeRepository.java
  back/src/main/java/coronhackathon/backend/service/ChallengeService.java
  back/src/main/java/coronhackathon/backend/service/CompletedService.java
  back/src/main/java/coronhackathon/backend/service/FriendsService.java
Labels: backend

#54 Elisavue
  front/api.js
  front/components/Screens/CoronaScreen.vue
  front/components/Screens/DetailsScreen.vue
  front/components/Screens/ValidationChallengeScreen copy.vue
  front/navigation.js
Labels: frontend

#48 Register Feature
  .gitignore
  back/src/main/java/coronhackathon/backend/repository/UserRepository.java
  back/src/main/java/coronhackathon/backend/service/UserService.java
  front/components/Screens/LoginScreen.vue
  front/components/Screens/RegisterScreen.vue
  front/components/Screens/ValidationChallengeScreen.vue
  front/navigation.js
Labels: backend, frontend

#61 Validation post
  back/src/main/java/coronhackathon/backend/controller/ChallengeController.java
  back/src/main/java/coronhackathon/backend/controller/CompleteController.java
  back/src/main/java/coronhackathon/backend/controller/FriendsController.java
  back/src/main/java/coronhackathon/backend/controller/MiscController.java
  back/src/main/java/coronhackathon/backend/entity/Category.java
  back/src/main/java/coronhackathon/backend/entity/Challenge.java
  back/src/main/java/coronhackathon/backend/entity/HasCompleted.java
  back/src/main/java/coronhackathon/backend/service/CompletedService.java
  back/src/main/java/coronhackathon/backend/service/FriendsService.java
  back/src/main/resources/myCompletedImage/hasCompleted_67_4.jpg
  front/components/ImagePicker.js
  front/components/Screens/ChallengeDetailScreen.vue
  front/components/Screens/ChallengesScreen.vue
  front/components/Screens/ValidationChallengeScreen copy.vue
  front/components/Screens/ValidationChallengeScreen.vue
  front/components/ValidationMain.js
  front/palette old.css
  front/palette.css
  front/palette.js
Labels: backend, frontend

#63 Display username next to comment
  back/src/main/java/coronhackathon/backend/controller/ChallengeController.java
  back/src/main/java/coronhackathon/backend/entity/Category.java
  back/src/main/java/coronhackathon/backend/entity/Challenge.java
  back/src/main/java/coronhackathon/backend/service/CompletedService.java
  back/src/main/java/coronhackathon/backend/service/FriendsService.java
  front/components/Screens/ChallengeDetailScreen.vue
Labels: backend, frontend
